$orange: #fb7413;
$red   : rgb(136, 30, 30);

$white               : #ffffff;
$light-grey          : #959eac;
$medium-grey         : #7c8798;
$dark-blue           : #252d37;
$very-dark-blue      : #121417;
$ultra-very-dark-blue: #141519;


$bg-primary: $very-dark-blue;
$accent    : $orange;
$danger    : $red;