@import './reset.scss'; //?? REINIT STYLES
@import './colors';
@import './vars';
@import './fonts';


body {
  // overflow: hidden; //?? REMOVE SCROLL
}

hr {
  margin : 20px 0;
  opacity: .25;
}

// HELPERS
%main-title {
  font-weight   : bold;
  font-size     : 1.5em;
  letter-spacing: 0.5px;
  margin-bottom : 15px;
}

%description {
  font-size    : 0.9em;
  color        : $light-grey;
  font-weight  : 300;
  margin-bottom: 20px;
  line-height  : 1.5;
}

.danger-text {
  color: $danger;
}

.success-text {
  color: $success;
}

// RIPPLE 
.ripple {
  background-position: center;
  transition         : background 0.3s;
}

.ripple:hover {
  background: $accent radial-gradient(circle, transparent 1%, $medium-grey 1%) center/15000%;
}

.ripple:active {
  background-color: $accent;
  background-size : 100%;
  transition      : background 0s;
}

//GLOBALS
.page {
  min-height     : 100vh;
  display        : flex;
  justify-content: center;
  align-items    : center;
}

.bg {
  background-color: transparent;

  &--accent {
    @extend .bg;
    background-color: $accent;
    background      : rgba($success, 1) !important;
  }
}